.add-photo__form {
  background-color: $light-gray;
}

.add-photo__button--submit {
  color: $pink;
  border-color: $pink;
}

.add-photo__button--reset {
  opacity: 0.1;
  border-color: $dark-gray;
}
