.add-photo__slogan {
  @include mobile-center-content;
  text-align: center;
}

.add-photo__wrapper {
  background-color: $light-gray;
  margin-top: 52px;
  padding-top: 20px;
}

.add-photo__form {
  @include mobile-center-content;
}

.add-photo__buttons {
  padding: 38px 0 47px;
}

.add-photo__button--submit {
  color: $pink;
  border-color: $pink;
  margin-bottom: 12px;

  &:hover,
  &:focus {
    background-color: $pink;
    color: $white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.add-photo__button--reset {
  opacity: 0.1;
  border-color: $dark-gray;

  &:hover,
  &:focus {
    opacity: 0.3;
    border-color: $dark-gray;
  }

  &:active {
    background-color: $dark-gray;
    color: rgba(255, 255, 255, 0.3);
  }
}
