.button {
  @include font-settings(18px, 18px, 700);
  border-radius: 29px;
  border-width: 3px;
  border-style: solid;
  display: block;
  min-height: 55px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

}
