.contacts__title {
  @include font-settings (18px, 24px, 700);
}

.contacts__link {
  @include font-settings (24px, 32px, 300);
  color: $pink;

  &:hover,
  &:focus {
    text-decoration-line: underline;
    color: $dark-gray;
  }

  &:active {
    color: $dark-gray;
    opacity: 0.3;
  }
}
