.main-nav {
  @include font-settings(18px, 32px, 700);
}

.main-nav__list {
  @include list-reset;
}

.main-nav__item {
  color: $white;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.main-nav__link {
  color: $white;
  text-transform: uppercase;
  text-align: center;
  display: block;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    opacity: 0.3;
  }
}
