.page {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: $white;
  font-family: "Open Sans", "Tahoma", sans-serif;
  color: $dark-gray;

  @include font-settings(14px, 24px, 400);
  box-sizing: border-box; // посмотреть как пойдет
}

.page img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.page a {
  text-decoration: none;
}

.page__title {
  @include font-settings(24px, 29px, 300);
  color: $dark-gray;
}

.page__title-h1 {
  color: $white;

  @include font-settings(24px, 32px, 300);
  background-color: $dark-gray;
}

.page__description {
  @include font-settings (14px, 30px, 400);
}
