.panorama__description {
  background-color: $light-gray;
}

.panorama__author {
  @include font (14px, 24px, 700);
}

.panorama__date {
  @include font (12px, 24px, 300);
  text-transform: uppercase;
}

.panorama__likes {
  @include font (12px, 24px, 400);
  color: $pink;
  text-transform: uppercase;
}
