.photos__list {
  @include list-reset;
  @include mobile-center-content;
}

.photos__item {
  background-color: $light-gray;
  margin-bottom: 20px;
}

.photos__description {
  padding: 10px 17px;
}

.photos__author {
  @include font-settings (14px, 24px, 700);
}

.photos__date {
  @include font-settings (12px, 24px, 300);
  text-transform: uppercase;
}

.photos__likes {
  @include font-settings (12px, 24px, 400);
  color: $pink;
  text-transform: uppercase;
}
