.tariffs__table-header {
  @include font-settings(18px, 30px, 300);
  text-transform: uppercase;
  color: $white;
  background-color: $dark-gray;
}

.tariffs__name {
  @include font-settings(16px, 30px, 700);
}
