@mixin font-settings ($fontsize: 14px, $lineheight: 24px, $fontweight: 400) {
  font-size: $fontsize;
  line-height: $lineheight;
  font-weight: $fontweight;
}

@mixin list-reset () {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin mobile-center-content () {
  margin: 0 auto;
  width: 88%;
}

@mixin desktop-center-content () {
  margin: 0 auto;
  width: 940px;
}
